<footer class="footer navbar-expand-sm ">
    <div class="container-fluid">
        <div class="ft-back">
            <p>&copy; 2024 Your Website. All rights reserved.</p>
            <p>Designed by You</p>
        </div>
    </div>
</footer>