<nav class="navbar navbar-expand-sm bg-secondary navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">NutriNourish</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--     <div class="search-bar">
      <form class="d-flex mx-2">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div> -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recipe">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/plans">Plans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/share">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>